@import url(https://fonts.googleapis.com/css?family=Raleway);.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
  background-color: #F4F3F4;
}

body.menu_active {
  overflow: hidden;
}

main {
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

main.inactive {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 1;
}

main.inactive.no_effect {
  -webkit-transform: none;
          transform: none;
}

.button {
  color: #fff;
  background-color: #FF483A;
  display: inline-block !important;
  padding: 10px 15px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button:hover {
  background-color: #ff6e63;
}

/*
* Block slide in animation
*/

.overlay_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.block_overlay {
  z-index: 2;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #F4F3F4;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  transition: -webkit-transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  transition: transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  transition: transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.block_overlay::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #FF483A;
  content: "";
}

.reveal .block_overlay {
  -webkit-transform: translateX(101%);
  transform: translateX(101%);
}

/*
* Page transition
*/

.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: "Google Sans";
  src: url(/fonts/GoogleSans-Regular.ttf?b5c77a6aed75cdad9489effd0d5ea411) format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Google Sans', sans-serif;
}

h1 {
  margin-left: 20px;
  font-size: 22px;
  color: #c0c4c8;
  margin-bottom: 30px;
}

p {
  letter-spacing: .5px;
}

.burger_menu {
  position: absolute;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
  cursor: pointer;
}

.burger_menu:hover div {
  background-color: #282B2E !important;
}

.burger_menu div {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #c0c4c8;
  height: 3px;
  margin-top: 4px;
  display: block;
}

.burger_menu :nth-child(1) {
  width: 25px;
}

.burger_menu :nth-child(2) {
  width: 32px;
}

.burger_menu :nth-child(3) {
  width: 16px;
}

.burger_menu.active div {
  background-color: #899199;
}

.burger_menu.active:hover div {
  background-color: #F4F3F4 !important;
}

.burger_menu.active :nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 13px;
}

.burger_menu.active :nth-child(2) {
  width: 0px;
}

.burger_menu.active :nth-child(3) {
  width: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -10px;
}

.hidden {
  display: none;
}

nav {
  width: 100%;
  height: 100%;
  background-color: #282B2E;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: fixed;
  left: -110%;
  top: 0;
  z-index: 4;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.active {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  opacity: 1;
}

nav.active li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

nav.active li:nth-child(1) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

nav.active li:nth-child(2) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

nav.active li:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

nav.active li:nth-child(4) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

nav.active li:nth-child(5) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

nav.active li:nth-child(6) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

nav ul li {
  display: block;
  float: none;
  text-align: center;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul li a {
  display: inline-block;
  font-family: 'Google Sans';
  position: relative;
  color: #F4F3F4;
  font-size: 30px;
  margin: 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #FF483A;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

nav ul li a:hover {
  background-color: transparent;
  color: #aba3ab;
}

nav ul li a:hover::before {
  width: 100%;
}

.assignment {
  display: block;
  position: relative;
}

.assignment * {
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.assignment.odd {
  margin-top: 120px;
}

.assignment a {
  display: block;
}

.assignment .image_container {
  border-radius: 5px;
}

.assignment .image_container img {
  border-radius: 5px;
}

.assignment .content_container {
  width: 90%;
  padding-left: 30px;
  margin-top: 10px;
  position: relative;
}

.assignment .content_container h2 {
  color: #282B2E;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.assignment .content_container p {
  color: #282B2E;
}

.assignment .content_container::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 17px;
  width: 2px;
  height: 60px;
  background-color: #FF483A;
}

.assignment:hover a {
  -webkit-transform: scale(1.03) !important;
          transform: scale(1.03) !important;
}

.assignment:hover img {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.post {
  position: relative;
  margin-bottom: 70px;
}

.post ul {
  padding-left: 30px;
}

.post ul li {
  list-style-type: disc;
}

.post h1 {
  margin-bottom: 20px;
}

.pagination {
  position: relative;
  width: 100%;
  padding: 30px 30px;
}

.pagination a {
  color: #fff;
}

.pagination a.left {
  position: absolute;
  left: 0;
}

.pagination a.right {
  position: absolute;
  right: 0;
}

.edit_post {
  position: absolute;
  right: 10px;
  bottom: 30px;
}

#cms .navbar-laravel {
  height: auto !important;
  left: 0;
  position: relative;
  opacity: 1;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

#cms .navbar-laravel * {
  opacity: 1;
}

#cms .navbar-laravel .navbar-brand {
  font-family: 'Google Sans';
  margin-top: 0px;
  margin-bottom: 0px;
}

#cms .navbar-laravel a {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #282B2E;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: 400;
}

#cms .navbar-laravel a::before {
  display: none;
}

#cms h1 {
  margin-left: 0px;
}

#cms .card {
  margin-bottom: 20px;
}

.owl-nav {
  position: absolute;
  left: 0;
  bottom: 6px;
}

.owl-nav button span {
  background: #FF483A !important;
  padding: 10px 20px !important;
  font-size: 20px;
  color: #fff;
}

.carousel {
  height: auto !important;
}

.owl-carousel .owl-item img {
  width: 98% !important;
}

/*
* Glitch effect
*/

.bg_overlay {
  background-color: #222;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#txt {
  position: relative;
  margin: auto;
  color: #fff;
  width: 75vw;
  height: 90vh;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

#txt h1 {
  font-size: 125px;
  line-height: normal;
  color: #fff;
  font-weight: bold;
  text-align: center;
  top: 30%;
  margin: 2.1rem 0 1.68rem 0;
}

#txt h2 {
  font-weight: bold;
  font-size: 20px;
  top: 50%;
  text-align: center;
  margin: 1.78rem 0 1.424rem 0;
  line-height: 110%;
}

#txt .glitch {
  position: absolute;
  width: 100%;
}

.top {
  -webkit-clip-path: inset(0 0 41% 0);
  clip-path: inset(0 0 41%);
}

.bottom {
  -webkit-clip-path: inset(58% 0 0 0);
  clip-path: inset(58% 0 0 0);
}

.redShadow {
  text-shadow: -3px 0 #FF483A;
}

.greenShadow {
  text-shadow: 3px 0 #3DFFFE;
}

.tv {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tv .screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.tv .screen.active {
  opacity: 1;
}

